.header {
  text-align: center;
  font-family: monospace;
  margin-bottom: 12px;
}

#title {
  font-size: 2rem;
  font-weight: bold;
}

#description {
  font-size: 1.2rem;
}

.heatMap {
  padding-left: 13%;
}

.tool-tip {
  position: absolute;
  background-color: #ADD8E6;
  font-family: monospace;
  font-size: 1rem;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 7px;
  z-index: 10000;
}
